body {
  font-family: 'Times New Roman', Times, serif
  }
  button {
    background-color: olive;
    border-radius: 4px;
    border: 1px solid olive;
    height: 30px;
    width: 100px;
    font-weight: bold;
  }
